<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dityish.apratim2k16">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.dityish.apratim2k16.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.dityish.apratim2k16.permission.C2D_MESSAGE" />

    <application
        android:name=".apratim2k16"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_splash"
        android:label="Apratim 2016"
        android:largeHeap="true"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".splash"
            android:label="Apratim 2016"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainHome"
            android:label="Apratim 2016"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".EventDetails"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".MainHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dityish.apratim2k16.MainHome" />
        </activity>
        <activity android:name=".prof_show1"></activity>
        <activity android:name=".prof_show2"></activity>
    </application>

</manifest>